body {
	margin: 0;
	padding: 0;
	background:lightblue
}
header {
	background-color: #f77070;
	color: white;
	padding: 10px;
	text-align: center;
	width: 100%;
	position: sticky;
	top: 0;
}
nav {
	background-color: #FAA0A0;
	color: white;
	padding: 10px;
	text-align: center;
	position: sticky;
	top: 100px;
	width: 100%	;
	
}
nav a {
	color: white;
	padding: 10px;
	text-decoration: none;
}
nav a:hover {
	background-color: black;
	color: yellow;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.company {
	margin: 20px;
	text-align: center;
}
.company h2 {
	margin: 10px;
}
.company img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
	border: 2px solid black;
	cursor: pointer;
}
.solid-block {
	background-color: black;
	height: 20px;
	margin: 20px;
}

